.full-black-container {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

.header {
    border: 2px solid #8bc440;
}


.characters-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-characters-image {
    position: absolute;
    z-index: 100;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
